/* Base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
}

*{
    outline-color: $blue-2;
}

table{
    border-collapse: unset;
}