.form-step{
    min-width: 30em;
    min-height: 20em;
    max-width: 40em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

}

.check-answer{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    input[type="radio"]{
        cursor: pointer;
    }
    label{
        cursor: pointer;
        line-height: 1.4em;
    }
}

.question-title{
    line-height: 1.2em;
    font-size: 22px;
}

.btn{
    width: fit-content;
    min-width: 15em;
    padding: 8px 16px;
    border-radius: 6px;
    border:2px solid #b2b2b2;
    color: #666666;
}

.btn-next{
    pointer-events: none;
    &.active{
        pointer-events: all;
        cursor: pointer;
        background-color: $green-1;
        color: #ffffff;
        border: 2px solid $green-1;
    }
}

.btn-submit{
    &.active{
        pointer-events: all;
        cursor: pointer;
        background-color: $blue-1;
        color: #ffffff;
        border: 2px solid $blue-1;
    }
}